%Invoice
  %Type ACCREC
  %Contact
    %ContactID= invoice.company.invoicing_system_id
  %Date= invoice.date.xero_format
  %DueDate= (invoice.date + 15).xero_format
  %LineAmountTypes Exclusive
  %LineItems
    -invoice.invoiceables.each do  |invoiceable|
      %LineItem
        %Description= invoiceable.invoice_item_id
        %Quantity= 1
        %UnitAmount= invoiceable.price
        %AccountCode 20010AGFI