%Invoice
  %Type ACCREC
  %Contact
    %Name= company.name
  %Date= invoice.date
  %DueDate= invoice.due_date
  %LineAmountTypes Exclusive
  %LineItems
  -invoice.invoiceables.each do  |invoiceable|
    %LineItem
      %Description= invoiceable.invoice_item_id
      %Quantity= invoiceable.quantity
      %UnitAmount= invoiceable.price
      %AccountCode AGFSI