<html>
<head>
  <link rel='stylesheet' media='all' href='<%= "#{File.dirname(File.expand_path __FILE__)}/templates/css/program.css" %>'>
</head>

<body>
<div id='session'>
  <% sessions.each_with_index do |session, index| %>
    <div id='<%= session.category %>'>
      <h1><%= session.title %></h1>

      <h2><%= session.speaker.full_name %></h2>

      <h2>level : <%= session.level %></h2>
    </div>
  <% end %>
</div>
</body>
</html>
